@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lato&family=Roboto&family=Slabo+27px&display=swap');

.Myweb {
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* font-family: 'Philosopher', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Slabo 27px', serif;
}

.Mypage1,
.Mypage2,
.Mypage3 {
    width: 98vw;
}

.intro{
    
    margin-top: 15%;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    border-radius: 5px;
    color: aliceblue;
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgb(245, 69, 189);

}

.button {

    background-color: black;
    color: white;
    height: 50px;
    width: 155px;
    border-radius: 10px;
    box-shadow: 1px 0px 1px 0px white;    
}

.button:hover {

    background-color: rgb(13, 20, 20);
    color: white;
    height: 52px;
    width: 157px;
    border-radius: 10px;
    box-shadow: 0px 1px 0px 0px white;

}

.Myskills ul li {
    margin: 10px;
    border-radius: 5px;
    color: white;
    opacity: 0.9;
    text-shadow: 1px 1px 2px white;

}


.about-info {
    width: 70%;

}

.about {
    background-color: rgb(29, 62, 62);
    display: flex;
    flex-direction: row;
    width: 80vw;
    padding: 10px;
    opacity: 0.9;
    

}


.profile1 {
    width: 250px;

}

.Mypage2 {
    padding-left: 50px;
    padding-right: 50px;
}

.profile-about {
    width: 300px;
    border-radius: 10px;

}

.Myskills {
    width: fit-content;
    background-color: aqua;
}





.Mypage4 {
    height: 600px;
    padding: auto;
color: aliceblue;
}


.Education-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.contactMe {
    height: 400px;
   width: 500px;
    box-shadow: 4px 4px 2px 1px rgb(75, 27, 60);
    border-radius: 15px;
    opacity: 0.8;
   

}


/* On Mobiles (screen width <= 767px) */
@media screen and (max-width: 767px) {
    .Education-details {
        flex-direction: column;
    }

    .aboutMe {
        flex-direction: column;
    }
    .Skills{
        text-align: center;
      
    }
    .about-me{
       align-content: center;
        flex-direction: column;
       
    }
    .profile-about {
        width: 160px;
    }
    .contactMe {
        height: 430px;
       width: 300px;
    }
    
    .navbar-brand{
        width: 25px;
        height: 25px;
 
     }
   
